<p id="notice"><%= notice %></p>
<h2><%= @project.name %></h2>
<div><%= @project.description %></div>
<br />
<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
